
section{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
    
}

td{
    background-color: white;
    text-align: center;
}