body{
    text-align: center;
    background-color: black;
}

section{
 margin-top: 6rem;
 background-color: rgba(255, 255, 255, 0.5);
 height:28rem;
 width: 25rem;
 margin-left: 30rem;
 display: flexbox;
 border-radius:4rem;
}

img{
    margin-top:10px;
}

.fm-usr{
    margin-top:20px;
}

input{
    width: 15rem;
    height:25px;
    text-align: center;
    border-radius:20px;
    border:solid 1px;
}

button{
    margin-top: 5px;
    width:8rem;
    height:25px;
    border-radius:3rem;
    border: none;
}

button:hover{
    background-color:greenyellow;
}